a{
    text-decoration: none;
}

.container{
    width: 1488px;
    margin: 0 auto;
    display: flex;
}

.cards_list{
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    margin-left: 304px;
}

.articles__card{
    margin-bottom: 32px;
}

.infobox{
    margin-left: 304px;
    width: 728px;
    padding: 24px;
    background-color: #fff;
    border-radius: 16px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.info{
    color:  #050505;
    font-size: 29px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 32px;
}

.button__secondary{
    width: 424px;
    height: 62px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 0;
    border-radius: 16px;
    background-image: url(./arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    color:  #050505;
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 32px;
    cursor: pointer;
}

.button__main{
    width: 100%;
    height: 62px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E56E00;
    border: 0;
    border-radius: 16px;
    color:  #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
    cursor: pointer;
}

.modal{
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: #00000020;
}

.modal__window{
    width: 880px;
    z-index: 2;
    background-color: #fff;
    margin: 64px auto;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.modal__heading{
    color:  #050505;
    font-size: 29px;
    font-weight: 700;
    line-height: 120%;
    
}

.modal__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.modal__close{
    width: 32px;
    height: 32px;
    background-image: url(./x.svg);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.modal__label{
    margin-bottom: 8px;
    color: #656566;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
}

.modal__input{
    border: 0;
    padding: 16px;
    border-radius: 8px;
    background-color: #F2F2F2;
    color:  #656566;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 24px;
}

.modal__selectList{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

select{
    border: 0;
    padding: 16px;
    border-radius: 8px;
    background-color: #F2F2F2;
    color:  #050505;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 24px;
    appearance: none;
    background-image: url(./arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
}

.modal__textarea{
    color:  #656566;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    border: 0;
    padding: 16px;
    border-radius: 8px;
    background-color: #F2F2F2;
    margin-bottom: 24px;
    min-height: 160px;
}

.modal__input_labeled{
    display: flex;
    flex-direction: column;
}

.alert__text{
    color:  #050505;
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 24px;
}