ul, h1,h2,h3,button, label, input{
    margin: 0;
    padding: 0;
}

.header__container{
    background-color: #fff;
    height: 100px;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    z-index: 10;
}

.header__content{
    display: flex;
    align-items: center;
    width: 1488px;
    justify-content: space-between;
}

.header__left{
    display: flex;
    align-items: center;
}

.header__container_logo{
    width: 272px;
    margin-right: 32px;
}

.header__link{
    color:  #050505;
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
    margin-right: 32px;
    text-decoration: none;
}

.header__profile{
    display: flex;
    align-items: center;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
}

.header__avatar{
    height: 40px;
    width: 40px;
    display: block;
    margin-right: 16px;
    border-radius: 50%;
    object-fit: cover;
}

.header__name{
    color: #050505;
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
}

.modal{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* полупрозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal__window{
    width: 880px;
    z-index: 2;
    background-color: #fff;
    margin: 64px auto;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.modal__heading{
    color:  #050505;
    font-size: 29px;
    font-weight: 700;
    line-height: 120%;
    
}

.modal__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.modal__close{
    width: 32px;
    height: 32px;
    background-image: url(./x.svg);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.modal__label{
    margin-bottom: 8px;
    color: #656566;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
}

.modal__input{
    border: 0;
    padding: 16px;
    border-radius: 8px;
    background-color: #F2F2F2;
    color:  #656566;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 24px;
}

.button__main{
    width: 100%;
    border: 0;
    border-radius: 8px;
    background: linear-gradient(89deg, #E56E00 0%, #CC336A 51.98%, #454AE5 100%);
    color: #fff;
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    cursor: pointer;
    margin-bottom: 16px;
}

.split{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button__text{
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    text-decoration: underline;
    background-color: transparent;
    border:0;
    cursor: pointer;
}

.message{
    color: #d44b4b;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    margin-bottom: 16px;
}