h1,h2,h3,a,p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container{
    width: 1488px;
    margin: 0 auto;
    display: flex;
}

.mid__content{
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    width: 880px;
}

.post__container{
    background-color: #fff;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 32px;
}

.post__heading{
    color:  #050505;
    font-size: 29px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 16px;
}

.post__text{
    color: #050505 ;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

.post__desc{
    color: #050505;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    text-overflow: ellipsis;
    width: 680px;
    overflow:hidden;
}

.post__info{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    justify-content: space-between;
}

.post__links{
    display: flex;
    align-items: center;
    justify-content: start;
}

.post__topik{
    display: flex;
    align-items: center;
    margin-right: 32px;
}

.post__icon{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 12px;
}

.post__author{
    display: flex;
    align-items: center;
}

.post__avatar{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 12px;
    border-radius: 50%;
}

.post__date{
    color:  #4D4D4D;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

.post__like_button{
    border: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    margin-right: 32px;
}

.post__like_icon{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.post__like_text{
    color: #656566;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    margin-top: 1px;
}

.post__comment{
    display: flex;
    align-items: center;
}

.post__comment_icon{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.post__bottom{
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.sub__disabled{
    width: 376px;
    border: 0;
    border-radius: 8px;
    border-radius: 8px;
    border-radius: 8px;
    background: linear-gradient(89deg, rgba(229, 110, 0, 0.40) 0%, rgba(204, 51, 106, 0.40) 51.98%, rgba(69, 74, 229, 0.40) 100%);
    color: #fff;
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    cursor: pointer;
}

.sub__active{
    width: 376px;
    border: 0;
    border-radius: 8px;
    background: linear-gradient(89deg, #E56E00 0%, #CC336A 51.98%, #454AE5 100%);
    color: #fff;
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    cursor: pointer;
}

.person{
    width: 424px;
    background-color: #fff;
    border-radius: 16px;
    padding: 24px;
    position: sticky;
    top: 164px;
    height: 100%;
}

.person__header{
    display: flex;
    margin-bottom: 16px;
    align-items: center;
}

.person__avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 16px;
}

.person__info{
    display: flex;
    flex-direction: column;
}

.person__name{
    color: #050505;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 8px;
}

.person__spec{
    color: #4D4D4D;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

.person__desc{
    color:  #050505;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    margin-left: 76px;
    margin-bottom: 24px;
}

.vac__goBack{
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 8px;
    background-image: url(./arrow-left.svg);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 32px;
    margin-left: 80px;
    position: sticky;
    top: 164px
}

.comments__container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 16px;
    padding: 24px;
}

.comments__header{
    display: flex;
    margin-bottom: 16px;
}

.comment__container:not(:last-child){
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.comments__container{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.comment__img{
    width: 32px;
    height: 32px;
    margin-right: 12px;
    object-fit: cover;
    border-radius: 50%;
}

.comment__desc{
    display: flex;
    margin-bottom: 8px;
    align-items: center;
}

.comment__header{
    color: #050505;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    align-items: center;
}

.comment__text{
    color:  #4D4D4D;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

.addComment{
    width: 28px;
    height: 28px;
    border: 0;
    border-radius: 8px;
    background-image: url(./plus.svg);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.comments__heading{
    color:#050505;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-right: 16px;
}

.form__container{
    display: flex;
    margin-bottom: 24px;
    flex-direction: column;
}

.form__input{
    color:  #656566;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    border: 0;
    padding: 16px;
    border-radius: 8px;
    background-color: #F2F2F2;
    margin-bottom: 16px;
    min-height: 160px;
}

.form__button{
    width: 100%;
    height: 62px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CC336A;
    border: 0;
    border-radius: 16px;
    color:  #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
    cursor: pointer;
}

.delete__button{
    width: 424px;
    height: 62px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E55C5C;
    border: 0;
    border-radius: 16px;
    color:  #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
    cursor: pointer;
}