h1,h2,h3,a{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container{
    width: 1488px;
    margin: 0 auto;
    display: flex;
}

.cards_list{
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    width: 728px;
}

.mycards_list{
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    width: 728px;
    margin-left: 304px;
}

.course__card{
    margin-bottom: 32px;
}

.filters{
    width: 272px;
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    position: sticky;
    top: 32px;
    margin-right: 32px;
    max-height: 600px;
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background-color: #F2F2F2;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin-right: 12px;
}

label{
    color:  #050505;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}

input[type="checkbox"]::after{
    content: "";
    height: 20px;
    width: 20px;
    background-color:  #454AE5;
    border-radius: 2px;
    position: absolute;
    top: 2px;
    left: 2px;
    display: none;
}

input[type="checkbox"]:hover{
    background-color: #E6E6E6;
}

input[type="checkbox"]:checked::after{
    display: inline-block;
}

.checkbox{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.filters__category_name{
    color: #656566;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 16px;
}

.filters__name{
    color: #050505;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 24px;
}

.checkbox__list{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.search__input{
    width: 728px;
    height: 62px;
    border: 0;
    border-radius: 16px;
    margin-bottom: 32px;
    padding: 20px;
    color: #050505;
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
}

.city__input{
    height: 44px;
    border: 0;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 16px 12px;
    background-color: #F2F2F2;
    color:  #050505;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
}

.buttonsList{
    width: 424px;
    display: flex;
    flex-direction: column;
}

.button__secondary{
    width: 100%;
    height: 62px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 0;
    border-radius: 16px;
    background-image: url(./arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    color:  #050505;
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 32px;
    cursor: pointer;
}

.button__main{
    width: 100%;
    height: 62px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #454AE5;
    border: 0;
    border-radius: 16px;
    color:  #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
    cursor: pointer;
}

.alert{
    background-color: #fff;
    border-radius: 16px;
    padding: 24px;
}

.alert__text{
    color:  #050505;
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 24px;
}

.course__container{
    background-color: #fff;
    border-radius: 16px;
    width: 728px;
    padding: 24px;
}

.course__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;
}

.course__author{
    display: flex;
    align-items: center;
}

.author__img{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 12px;
    border-radius: 50%;
}

.author__name, .topic__name, .followers__text {
    color: #050505;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

.course__topic{
    display: flex;
    align-items: center;
}

.topic__img{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 12px;
}

.course__name{
    color:  #050505;
    font-size: 29px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 24px;
}

.course__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__desc{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.course__followers{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.desc__text{
    color:  #050505;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    margin-right: 32px;
}

.course__icon{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 12px;
}

.infobox{
    margin-left: 304px;
    width: 728px;
    padding: 24px;
    background-color: #fff;
    border-radius: 16px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modal__heading{
    color:  #050505;
    font-size: 29px;
    font-weight: 700;
    line-height: 120%;
    
}
